.player {
    position: absolute;
    width: 70px;
    height: 50px;
    z-index: 95;
}

.ground {
    background-color: #19e03a;
    position: absolute;
    z-index: 90;
}

.sky {
    background-color: #19869c;
    position: absolute;
    z-index: 89;
}

.vegetable {
    position: absolute;
    z-index: 91;
}

.score {
    position: absolute;
    color: white;
    font-size: 400%;
    text-shadow: 2px 2px 0px black;
    z-index: 92;
}

.flippedMirror {
    transform: rotate(180deg) scaleX(-1);
}

.flipped {
    transform: rotate(180deg);
}

.mirror {
    transform: scaleX(-1);
}

.floaty {
    position: absolute;
    color: yellow;
    font-size: 300%;
}

.pause_background {
    background-color: black;
    position: absolute;
}

.pause_text {
    position: absolute;
    text-align: center;
    color: blue;
    font-size: 500%;
}

.countdown {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 600%;
}