<!DOCTYPE html>
<html>
  <head>
    <!--
      type control-shift-J in google chrome to open the console
      then type "cheats=true" to disable dying
      for epic high scores
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>bean jump</title>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <link rel="icon" type="image" href="{{ url_for('static', filename='images/bean_icon.png') }}">
    <link href="{{ url_for('static', filename='beanjump.css') }}" rel="stylesheet" type="text/css" />
    <script data-ad-client="ca-pub-6939960379758292" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body style="overflow:scroll">
    <div id='menu_stuff'>
      <button id="start" onclick="startGame(60)">Start Game</button>
      <h1 id='recent'>Recent score: 0</h1>
      <h1 id='best'>Best score: 0</h1>
      <button onclick="alert('sorry, score submitting is temporarily disabled while i figure out how to stop people from submitting html as their score')">submit score</button>
      <button onclick="requestUpdatedScores()">refresh highscores</button>
      <p id='papiinfo'>
        hi <br>
        this is a papi trampoline clone i made because i couldn't find the original game online<br>
        download the real papi trampoline for windows <a href='http://www.sunflat.net/windows/app/papitrampoline/'>here</a><br>
        <br><br>
        Default controls are the arrow keys (down to pause)<br>
        <button onclick="rebind('jump')">Rebind Jump</button><button onclick="rebind('left')">Rebind Left</button><button onclick="rebind('right')">Rebind Right</button><button onclick="rebind('pause')">Rebind Pause</button>
        <br>
        <button onclick="changeCarrots()">carrots only</button>
      </p>
      <div id='highscores' style='display:none;'>
        <button onclick="findRank()">find my rank</button>
        <h1>top ranked players</h1>
        <ol id='hslist'>
        </ol>
      </div>
    </div>

    <div id='game_stuff'>
      <div id='sky' class='sky' style="display: none"></div>
      <div id='ground' class='ground' style="display: none"></div>
      <img id='player' class='player' style="display: none" src="{{ url_for('static', filename='images/bean.png') }}">
    </div>
    <script src="{{ url_for('static', filename='beanjump-classes.js') }}"></script>
    <script src="{{ url_for('static', filename='beanjump-server.js') }}"></script>
    <script src="{{ url_for('static', filename='beanjump.js') }}"></script>
  </body>
</html>
