<!DOCTYPE HTML>
<html>
    <head>
        <title>epix website!!</title>
        <link rel="icon" type="image" href="{{ url_for('static', filename='index_icon.png') }}">
    </head>
    <body>
        all games by ben lephsc<br>
        thanks vagoon for letting me host a website on ur pi<br>
        we have fun games bean games bean themed games bean jump bean tower defense btd<br>
        <h1 title="google said this website needs more content to have ads on it">current home of lots of awesome content</h1>
        <h2 style="color: red;">colors!</h2>
        <h2><i>italics!</i></h2>
        <u>fun games</u>
        <ul>
            <li><a href="{{ url_for('beanjump') }}">bean jump</a></li>
            <li><a href="{{ url_for('beantd') }}">bean tower defense (still in development)</a></li>
        </ul>
    </body>
</html>